* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    padding: 20px;
    text-align: center;
    color: dodgerblue;
}
#header .info .date {
    width: 50%;
    display: block;
}
#header .info {
    color: blue;
    float: left;
}

#header .date {
    color: blue;
    margin-right: 50px;
    text-align: right;
}
#content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
}


table ,td,th {
    border:1px solid ;
    border-collapse: collapse;
    border-spacing: none;
}